<h1 class="m-2">Ask your coach a question!</h1>
<form action="/answer" method="get" class="d-flex m-2">
  <input type="text" class="form-control" name="question">
  <input type="submit" value="Ask!">
</form>
